:root {
    --yellow: #EDBB00;
    --red: #D4002E;
   }
   

.list .listItem .listIcon .icon{
    width: 35px;
    height:35px;
    margin-top: 25px;
     transform: scale(1.1);
  
    margin: auto;
  
}
.list  .listIcon  {
     width: 50px;
    height:55px;
    margin-top: 25px;
     transform: scale(1.1);
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
 
 
}
.list  .listIcon :hover {
    
opacity: 0.9; 
 
}
 
 